{% extends 'mainapp/base.html' %}
{% block title %}Log in {% endblock %}

{% block content %}
<div class="bg-teal-100 w-1/2 mx-auto p-5 rounded-xl">
    <h1 class="text-3xl text-center my5">Log in</h1>
    <form method="post" action=".">
        {% csrf_token %}
        <div class="mb-5">
            <label class="inline-block mb-2 text-xl" for="">Email</label><br>
            <input class="w-full p-2 rounded-md" id="email" type="text" name="your_name" maxlength="100" required>
            {{form.email}}
        </div>
        <div>
            <label class="inline-block mb-2 text-xl" for="">Password</label><br>
            <input class="w-full p-2 rounded-md" id="password" type="password" name="your_name" maxlength="100" required>
            {{form.password}}
        </div>
    </form>
</div>



{% endblock %}