{% extends 'mainapp/base.html' %}
{% block title %} {{product.Name}}
{% endblock %}

{% block content%}

<div class="grid grid-cols-5 gap-5">
    <div class="col-span-3 rounded">
        <img src="{{  product.image.url  }}" alt="">
    </div>
    <div class="col-span-2 p-5 bg-teal-200 rounded-xl">
        <h1 class="mb-5 text-3xl"> <strong class="font-semibold">{{ product.name }}</strong></h1>
        <p class="text-xl">Price: {{ product.price }}</p>
        <p>Vendor: {{ product.created_by.username }}</p>

        <p>Product Details: <br>
            <span>{{ product.description }}</span>
        </p>
    </div>
    <a href="#" class="mt-5 px-">Contact with vendor</a>
</div>


{% endblock %}