{% extends 'mainapp/base.html' %}
{% block title %} {{item.Name}}{% endblock %}

{% block content%}

<div class="grid grid-cols-5 gap-5 bg-gray-100">
    <div class="col-span-3 rounded">
        <img class="w-1/2" src="{{  item.image.url  }}" alt="">
    </div>
    <div class="col-span-2 p-5 bg-teal-200 rounded-xl">
        <h1 class="mb-5 text-3xl"> <strong class="font-semibold">{{ item.Name }}</strong></h1>
        <p class="text-xl">Price: {{ item.price }}</p>

        <p><strong>Product Details:</strong><br>
            <span class="">{{ item.description }}</span>
        </p>

        <p class="">Vendor: {{ item.created_by.username }}</p>
        <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact with vendor</a>
    </div>
    
</div>
<!-- Related items -->

<div class="mt-10 bg-gray-200">
    <h2 class="text-2xl text-center">Related items</h2>
    <div>
        {% for item in related_items %}
        <div class="grid grid-cols-4 bg-gray-100 w-76">
            <a href="{%url 'item:detail' item.id%}">
                <div class="w-full">
                    <img class="rounded-t-2xl" src="{{ item.image.url }}" alt="">
                    <div>
                        <h2 class="text-center text-xl">{{item.Name}}</h2>
                        <p class="text-center te text-xl">{{item.price}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}